<p-table [value]="customers">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Representative</th>
      <th>Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
    <tr>
      <td>
        {{ customer.name }}
      </td>
      <td>
        <span class="image-text">{{ customer.country }}</span>
      </td>
      <td>
        <span class="image-text">{{ customer.representative }}</span>
      </td>
      <td>
        <span [class]="'customer-badge status-' + customer.status">{{
          customer.status
        }}</span>
      </td>
    </tr>
  </ng-template>
</p-table>
