/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

.menubarWrapper {
  .menubar {
    background-color: #333;
    border-radius: 0;
    border: none;
    .p-menubar-root-list {
      background: #333;
      border: none;
      .p-menuitem {
        .p-menuitem-link {
          color: white;
          .p-menuitem-text,
          .p-menuitem-icon {
            color: white;
          }
        }
      }
    }

    .p-menubar-button {
      color: white;
    }
  }
}
